In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "./spose_embedding66d_rescaled_48val.csv"

df = pd.read_csv(path, index_col=0)

df.head()

,image_name,0,1,2,3,4,5,6,7,8,...,56,57,58,59,60,61,62,63,64,65
54,bag_01b.jpg,19.739508,21.198930,0.965733,61.468153,11.073226,9.788339,9.625351,15.912599,2.198941,...,0.338231,1.223847,0.397648,1.447020,1.193706,1.867710,4.865227,0.772874,0.633689,1.146184
107,beaver_01b.jpg,1.351147,3.982135,91.049569,0.348649,8.929281,0.727055,1.539169,1.017233,4.268899,...,0.835306,1.310193,0.634133,1.074213,1.590090,0.353474,0.348709,6.902653,0.678244,0.898877
120,bench_01b.jpg,19.191424,1.605347,13.517206,6.407105,20.713978,37.498421,9.768035,12.167288,4.310959,...,1.280562,2.321272,0.645485,0.518135,3.398300,1.392657,1.299114,0.210752,1.714176,0.614359
167,bookshelf_01b.jpg,29.417111,5.513788,2.725984,5.742776,3.065285,52.055107,9.610171,3.903207,3.200359,...,1.890110,2.889659,1.730980,2.638301,1.720632,1.173678,1.655648,0.723997,0.482410,0.609844
178,bowler_hat_01b.jpg,21.006404,0.311069,5.878286,45.166940,0.794244,4.213119,24.824021,5.320632,22.718669,...,13.707117,1.680679,0.383178,0.357866,6.873350,0.385852,0.671290,1.025783,1.914086,1.177994

In [3]:
path = "./triplet48_index.npy"

array = np.load(path)

array

array([1192,  107,  951, 1626,  361,  511,  741, 1007, 1783,  515,  651,
       1631,  309,  368, 1041, 1328,  882,  167,  252, 1608,  996,  219,
       1730,  606, 1195, 1723,  246, 1339,  264,  486, 1677, 1713,  178,
        766,  583,  120, 1052,  259, 1655,  796, 1717, 1256,  847, 1638,
         54,  897, 1623,  209])

In [15]:
inference_embeddings_reordered = df.loc[array]

inference_embeddings_reordered.head()

,image_name,0,1,2,3,4,5,6,7,8,...,56,57,58,59,60,61,62,63,64,65
1192,pizza_01b.jpg,0.040818,82.180270,5.129200,0.342989,1.143842,0.242650,1.375374,2.086829,2.315461,...,0.192906,0.276354,2.491111,0.480851,0.745000,1.195443,1.029029,1.055646,1.338602,2.038748
107,beaver_01b.jpg,1.351147,3.982135,91.049569,0.348649,8.929281,0.727055,1.539169,1.017233,4.268899,...,0.835306,1.310193,0.634133,1.074213,1.590090,0.353474,0.348709,6.902653,0.678244,0.898877
951,macadamia_01b.jpg,0.175553,71.531011,11.933544,2.671233,25.394823,1.048132,0.678898,0.271861,0.372288,...,0.363602,1.691655,2.450691,2.626235,6.709733,0.598063,0.667009,3.353153,0.804669,2.255038
1626,tarantula_01b.jpg,2.124433,2.885719,68.755384,3.215477,11.377061,1.768419,1.334212,0.863935,4.671783,...,0.567572,2.012773,0.444472,1.185281,0.989735,1.015517,1.135721,4.650351,5.119790,0.038735
361,clothes_01b.jpg,17.074035,5.927117,0.559973,64.757009,0.550780,20.667788,10.700128,6.312492,27.745907,...,0.405871,2.788111,1.759666,0.748589,1.264117,0.413484,0.788253,1.119951,3.678706,0.565343

In [16]:
inference_embeddings_reordered.to_csv('./spose_embedding66d_rescaled_48val_reordered.csv')